#metrics-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52428C;
}

#metrics-container #metrics {
    max-width: 600px !important;
    padding: 1rem;
}