<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ tool.name }}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <p><strong>Descrição:</strong> {{ tool.description }}</p>
    <p><strong>Quando usar:</strong> {{ tool.useCases }}</p>
    <p><strong>Exemplo:</strong> {{ tool.example }}</p>
    <p><strong>Link:</strong>
        <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
            {{ tool.link }}
        </a>
    </p>
</mat-expansion-panel>